<h1><%= @nation.name %> Benders</h1>
<%= link_to "Create Bender", "/nations/#{@nation.id}/benders/new" %>

<% @benders.each do |bender| %>
  <p> Name: <%= bender.name %></p>
  <p> Age: <%= bender.age %></p>
  <p> Avatar: <%= bender.avatar %></p>
  <p> Bending Style: <%= bender.bending_style %></p>
<% end %>